body {
  margin-top: 10px;
}
h1,
p {
  text-align: center;
  padding: 5px;
  margin: 0px;
  font-size: 40px;
  line-height: 40px;
}
h3 {
  width: 400px;
  margin: 5px auto;
}
.container {
  display: grid;
  justify-content: center;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 15px;
}
img {
  border: 1px solid black;
  border-radius: 4px;
}
button {
  font-size: 20px;
  padding: 10px 20px;
  display: block;
  margin: 10px auto;
  border-radius: 4px;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}
